* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('school.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 70%;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 20px 20px;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}
.nav-list a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;;
}
.nav-list a:hover {
    color: #f0a500;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 101;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
}

.footer {
    background-color: #0e1a35; /* dark blue */
    color: white;
    padding: 30px 20px;
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

.footer-column {
    margin-bottom: 20px;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.5;
    color: #ccc;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 12px;
    color: #1F2a44;
}
.page-wrapper{
    min-height: calc(100vh - 150px);

    padding: 20px;
    box-sizing:border-box;
}
.about-box{
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;
    background-color: antiquewhite;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    color: black;
}

.about-box h2{
margin: bottom 15px;
font-size: 28px;
}

.about-box p{
font-size: 16px;
line-height: 1.6;
}

@media (max-width: 768px) {
    
    .nav-list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 0.5s ease;
        padding: 2rem 0;
    }

    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .nav-list li {
        font-size: 0 18px;
         margin: 1rem 0;
    }

    .nav-list.active {
        display: flex;
        left: 0;
        padding: 80px 100px;
    }

    .hamburger.active span:nth-child(2) {
                opacity: 0;
    }

    .hamburger.active span:nth-child(1) {
                transform: translateY(9px) rotate(45deg);
    }
     
    .hamburger.active span:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg);
    }
    
    .hamburger{
        display: flex;
        order: -1;
        margin-left: 0;
    }

    .logo {
        color: white;
        font-size: 24px; /* logo font size */
        margin-right: 180px; /* space between logo and hamburger */
    } 

    .footer {
        background-color: #0e1a35; /* dark blue */
        color: white;
        padding: 30px 20px;
        text-align: center;
        margin-top: 40px;
        width: 100%;
    }

    .footer-column {
        margin-bottom: 20px;
    }

    .footer-column h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }  

    .footer-column p {
        font-size: 14px;
        line-height: 1.5;
        color: #ccc;
    }

    .footer-bottom {
        border-top: 1px solid #444;
        padding-top: 15px;
        font-size: 12px;
        color: #1F2a44;
    }  
    .page-wrapper{
        min-height: calc(100vh - 150px);
        padding: 20px;
        box-sizing:border-box;
    }  
    .about-box{
        max-width: 700px;
        margin: 60px auto;
        padding: 30px;
        background-color: antiquewhite;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        border-radius: 10px;
        text-align: center;
        color: black;
    }

    .about-box h2{
        margin: bottom 15px;
        font-size: 28px;
    }

    .about-box p{
        font-size: 16px;
        line-height: 1.6;
    }
}




