body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, sans-serif;
}


.container {
    border: solid white;
    margin-top: 100px;
    width: 650px;
    background-color: gray;
    padding: 40px 40px;
    border-radius: 50px;
    box-shadow: 0 5px 5px black;
    text-align: center;
    
}
/* rectangle na itim */
.container h1 {
    font-size: 26px;
    margin-bottom: 25px;
    color: white;
    font-weight: bold;
}

/* Textarea */
textarea {
    font-weight: bold;
    width: 90%;
    height: 150px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
    resize: none;
    outline: none;
    margin-bottom: 30px;
    color: #333;
    background-color: #fff;
}

textarea::placeholder {
    color: #999;
}

/* Button */
.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}
